.friendList {
  display: flex;
  width: 298px;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 25px 0px;
  /* flex-direction: column; */
}
.item {
  text-align: center;
}
